@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <p class="lead" >
        Selecccione un archivo .wav para analizar
    </p>
    <form method="post" action="@Url.Action("Index")" enctype="multipart/form-data">
        <input class="btn btn-primary" type="file" name="file" value="Select file" />
        <input class="btn btn-primary" type="submit" value="Submit file" />
    </form>
</div>
