
@{
    Layout = null;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <strong id="status">Transcripting....</strong>
    <div class="col-md-4">
        <p class="" id="text"></p>
    </div>
    <div class="col-md-4">
        <input class="btn btn-primary" type="button" id="download" style="display:none" value="download" />
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script>
        $(function () {
            var url = "@Url.Action("CurrentText", "Home")";

            var timer = setInterval(function () {
                $("#status").text("Transcripting....");
                update();
            }, 2000);

            $("#download").on("click", function () {
                window.open("@Url.Action("Download", "Home")");
            });

            var update = function () {
                $.get(url).success(function (data) {
                    $("#text").text(data.Text);
                    if (data.Text.indexOf("EndOfDictation") > -1) {
                        $("#status").text("END");
                        clearInterval(timer);
                        $("#download").show();
                    } else {
                        $("#status").text("....Transcripting");
                    }
                });
            }
        });
</script>
